[core]
	editor = vim

[color "diff"]
	whitespace = red reverse

[include]
	path = ~/.gitconfig.user
[user]
	name = scudzys
	email = scudzy@icloud.com
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
