certifi==2020.6.20
chardet==4.0.0
charset-normalizer==2.0.12
colorama==0.4.4
CurrencyConverter==0.16.12
decorator==5.1.1
idna==2.10
pkgconfig==1.5.1
powerline-status==2.7
psutil==5.8.0
pycairo==1.16.2
pyenchant==3.2.0
pyte==0.8.1
pyvoc==1.4.0
requests==2.25.1
six==1.16.0
termcolor==1.1.0
thefuck==3.32
urllib3==1.26.5
wcwidth==0.2.5
